:root {
    --text-color-light: #1d1d1d;
    --bg-color-light: #fff;
    --text-color-dark: #fff;
    --bg-color-dark: #1d1d1d;
}

body {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
    text-indent: 50px;
}
body.dark-theme {
    color: var(--text-color-dark);
    background-color: var(--bg-color-dark);
}

#posts-container {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.postElement {
    color: red;
    font-weight: bold;
    font-size: 2em;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check:checked ~ ul {
    display: block;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #3a3a3a;
        top: 50px;
        left: 0;
        display: none;
    }

    nav ul li a {
        display: block;
    }

    .checkbtn {
        display: block;
    }
}

#search {
    margin: 10px;
    padding: 5px;
}

